.newComment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    background: #e0e7ff;
    /* height: 200px; */
    color: #4338ca;
    border-radius: 5px;
}

.formControll {
 display: flex;
 justify-content: center;
 gap: 1rem;
 margin: 0.5rem 0;
} 